.home{
  display: flex;
  flex-direction: column;
  text-align: end;
  
  
}
.padre {
  display: flex;
  justify-content: space-evenly;
  /*align-items: center;
    height: 100vh; */

  /* height: 80px; */
  /*   background: red; */
  margin-top: 20px;
}
.hijas {
  display: flex;
  flex-direction: column;
  text-align: center;
  .letras {
    text-decoration: none;
    color: black;
  }
}
.hijas:hover {
  background: rgb(252, 246, 246);
  transition: 0.5s;
}
.imagen {
  width: 100px;
  height: 100px;
}
